<<<<<<< HEAD

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
=======
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
>>>>>>> parent of de3e320 (Se crea la Landing Page)
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

<<<<<<< HEAD
.hero-section {
    background-color: #4CAF50; 
    color: white;
    padding: 100px 20px;
    text-align: center;
=======
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
>>>>>>> parent of de3e320 (Se crea la Landing Page)
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

<<<<<<< HEAD
p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.cta-button {
    background-color: white;
    color: #4CAF50;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ddd;
}


.features {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.features h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.feature-item {
    margin: 20px 0;
}

.feature-item h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #4CAF50;
}

.feature-item p {
    font-size: 1.1em;
    color: #666;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin: 0;
=======
.read-the-docs {
  color: #888;
>>>>>>> parent of de3e320 (Se crea la Landing Page)
}
